@import url('https://fonts.googleapis.com/css?family=Gayathri:100,400,700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ebeff5;
  font-family: 'Gayathri', sans-serif;
}
.flex{
  display: flex;
  justify-content: flex-start;
}
.container{
  margin: 0 auto;
  padding: 0;
  width: 900px;
}
.header{
  border-bottom: #afbacc 2px solid;
  padding-top: 10px;
}
.header-photo{
  flex-grow: 1;
}
.header-photo img{
  border-radius: 50%;
  width: 100px;
}
.who-is-it{
  padding: 10px;
  text-align: center;
  flex-grow: 2;
}

.header-name{
  font-size: 26px;
}
.header-title{
  font-size: 18px;
}
.header-contacts{
  flex-grow: 1;
  padding: 10px;
}

.summary h2,
.work-experience h2,
.education h2,
.skills h2,
.assesments h2,
.additional h2 {
  flex: 30%;
  padding: 20px;
}
.summary p,
.work-experience .all-jobs,
.education .university,
.all-skills,
.assesments .results,
.additional .improving {
  padding: 20px;
  flex: 70%;
}
.all-jobs .experience{
  padding-bottom: 10px;
}

footer{
  text-align: center;
  padding: 20px;

}
footer h2 a{
  background-color:#ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  padding: 16px 20px 11px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.index-header{
  text-align: center;
  padding: 20px;
}
.index-header h1{
  font-size: 26px;
}
.index-header section article h2{
  font-size: 18px;
}
.more-info section{
  flex: 50%;
}
footer .family{
  width: 831px;
  border: 3px solid #8e99ab;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #8e99ab; 
}
  

#branding a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

.navbar li {
  display: inline;
  padding: 0 20px 0 20px;
  text-decoration: none;
}

#branding {
  float: left;
      margin: 0;
      padding: 15px;
}
.navbar{
  padding: 30px;
  float: right;
}
.navbar li a {
  color: #333131;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
#branding h1 {
  margin: 0;
}
.navbar ul {
  float: right;
  margin-top: 15px;
}
#showcase .container,
#skillset .container,
#contacts .container{
  display: flex;
}
#showcase .container{
  justify-content: space-between;
}
.showcase-photo{
  padding: 20px;
}
.showcase-photo img{
  width: 360px;
  border: 3px solid #8e99ab;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #8e99ab;
}
.showcase-description{
  padding: 20px;
  color: #35424a;
}
#skillset .container{
    flex-flow: row wrap;
    justify-content: space-around;
}
.box{
   padding: 5px;
   margin-top: 10px;
   width: 230px;
   height: 282px;
}
#showcase h2 {
  margin-top: 100px;
  font-size: 30px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

#contacts .container{
  background-color: #8e99ab;
}
.project-screenshot img{
  width: 250px;
}
#portfolio h2{
      padding: 15px;
}
#portfolio-block h2{
  text-align: center;
}
#portfolio-block .container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}
#portfolio-block .item{
  width: 30%;
  padding: 1%;
}